body {
    background-color: beige;
    /* background-image: url("https://pbs.twimg.com/media/CBq_VzRXIAE4O0h.jpg");
    background-repeat: no-repeat; */
}
/* h1 styling */
#choose-your-enemy {
    font-weight: bolder;
    color: black;
}

#choose-your-warrior {
    font-weight: bolder;
    color: black;
    font-size: 34px;
}

/* Left panel */
.warrior-choice {
    border: 2px solid black;
    height: 100vh;
    background-color: green;
    
}

/* .stages { */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    
/* } */

/* Where they fight */
.stage-row {
    border: 2px solid black;
    height: 50vh;
    /* width: 100%; */
    /* background-repeat: no-repeat; */
    /* margin: 10px; */
}

/* Defeat-yard */

.fallen-stage-row {
    border: 2px solid black;
    height: 50vh;
    /* width: 100%; */
    /* margin: 10px; */
    /* bottom: 0; */
}
.stage-right {
    height: 50vh;
    border: 1px solid black;
}

.stage-left {
    height: 50vh;
    border: 1px solid black; 
}

/* Right panel */

.enemy-choice {
    border: 2px solid black;
    height: 100vh;
    background-color: darkred;
}

/* Warrior Choice */

#spongebob-left {
    margin: 10px;
    border: 2px solid black;
}

#squidward-left {
    margin: 10px;
    border: 2px solid black;
}

#larry-left {
    margin: 10px;
    border: 2px solid black;

}

#patrick-left {
    margin: 10px;
    border: 2px solid black;
    /* background-image: url("http://vignette1.wikia.nocookie.net/spongebob-fanon/images/c/cf/Patrick.png/revision/latest?cb=20130629230936"); */
    
}

/* Enemy Choice */

#spongebob-right {
    margin: 10px;
    border: 2px solid black;
}

#squidward-right {
    margin: 10px;
    border: 2px solid black;
}

#larry-right {
    margin: 10px;
    border: 2px solid black;

}

#patrick-right {
    margin: 10px;
    border: 2px solid black;
}

/* images */

.sponge-image-left {
    height: 50%;
    width: 50%;
}

.patrick-image-left {
    height: 50%;
    width: 50%;
}

.squidward-image-left {
    height: 50%;
    width: 50%;
}

.larry-image-left {
    height: 50%;
    width: 50%;
}

.sponge-image-right {
    height: 50%;
    width: 50%;
}

.patrick-image-right {
    height: 50%;
    width: 50%;
}

.squidward-image-right {
    height: 50%;
    width: 50%;
}

.larry-image-right {
    height: 50%;
    width: 50%;
}

/* Display stats */


/* stats on page display */
.html-sponge-stats {
    float:right;
    font-size: 15px;
    background-color: lightgray;
    font-weight: bold;
}

.html-pat-stats {
    float:right;
    font-size: 15px;
    background-color: lightgray;
    font-weight: bold;
}

.html-squid-stats {
    float:right;
    font-size: 15px;
    background-color: lightgray;
    font-weight: bold;
}

.html-larry-stats {
    float:right;
    font-size: 15px;
    background-color: lightgray;
    font-weight: bold;
}
/* pointer pseudo class for pointer (cursor pointer style) -------just a side note */
